.bg-primary {
  background-color: #03c03c !important;
}

.bg-dark {
  background-color: #333333 !important;
}

.bg-color {
  background-color: #f5f5e9 !important;
}

.bg-gray {
  background-color: #aaaaaa !important;
}

.bg-gray-light {
  background-color: #e1e1e1 !important;
}

.bg-black {
  background-color: #151515 impot !important;
}

.color-white {
  color: #ffffff;
}

/* NavBar CSS-------------------------------------------------------------------------------------------------------------START */

.img-fluid-nav {
  max-width: 30%;
  height: auto;
  margin-left: 10%;
}

.nav-link:hover {
  /* background-color: #000000; */
  border-radius: 8px;
  font-weight: 600;
  text-shadow: #aaaaaa;
}

.navbar {
  position: relative !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #aaaaaa;
}

.nav-link {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-wrap: nowrap;
}

.navbar-toggler-icon {
  display: inline-block !important;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  /* background: no-repeat center center; */
  background-size: 100% 100%;
}

/* NavBar CSS-------------------------------------------------------------------------------------------------------------END */