.bg-primary {
  background-color: #03c03c !important;
}

.bg-dark {
  background-color: #333333 !important;
}

.bg-color {
  background-color: #fbfbfb !important;
}

.bg-gray {
  background-color: #aaaaaa !important;
}

.bg-gray-light {
  background-color: #e1e1e1 !important;
}

.bg-black {
  background-color: #151515 impot !important;
}

.color-white {
  color: #ffffff;
}

.color-gray {
  color: #aaaaaa !important;
}

.color-dark {
  color: #333333 !important;
}

.color-primary {
  color: #03c03c !important;
}

.center {
  text-align: center;
}
.heading1 {
  font-size: 60px;
  font-family: "Jost", sans-serif;
  font-weight: 800;
  line-height: 56px;
  word-wrap: break-word;
}

.heading2 {
  font-size: 48px;
  font-family: "Jost", sans-serif;
  font-weight: 800;
  line-height: 56px;
  word-wrap: break-word;
}

.heading3 {
  font-size: 36px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  line-height: 42px;
  word-wrap: break-word;
}

.heading4 {
  font-size: 28px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  line-height: 42px;
  word-wrap: break-word;
}

.text1 {
  font-size: 20px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
}

.text2 {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  line-height: 18px;
  word-wrap: break-word;
}

.text3 {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  font-weight: 200;
  line-height: 18px;
  word-wrap: break-word;
}
/* NavBar CSS-------------------------------------------------------------------------------------------------------------START */

.img-fluid-nav {
  max-width: 30%;
  height: auto;
  margin-left: 10%;
}

.nav-link:hover {
  /* background-color: #000000; */
  border-radius: 8px;
  font-weight: 600;
  text-shadow: #aaaaaa;
}

.navbar {
  position: fixed !important;
  /* height: 110px; */
  width: 100%;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 2rem;
  background-color: #0c0c0c;
}

.nav-link {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-wrap: nowrap;
  font-size: 20px;
}

.navbar-toggler-icon {
  display: inline-block !important;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  /* background: no-repeat center center; */
  background-size: 100% 100%;
}

/* NavBar CSS-------------------------------------------------------------------------------------------------------------END */

.hero-image {
  background-image: url(/images/hero-back.png) !important;
}

.img-hero {
  max-width: 100%;
  height: 100%;
}

.multiply {
  mix-blend-mode: multiply;
}

/* Button lg start -------------------------------------------------------------------------------*/

.btn-main {
  color: #333333 !important;
  height: 48px;
  background-color: #ffffff;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: "jost", sans-serif;
  font-size: 18px;
}

.btn-main:focus,
.btn-main:hover {
  text-decoration: none;
  background-color: #333333;
  color: #ffffff !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}

/* btn lg end -----------------------------------------------------------------*/

/* btn bodered start--------------------------------------------*/

.btn-bordered {
  color: #ffffff !important;
  height: 48px;
  background-color: transparent;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  border-color: #ffffff;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: "jost", sans-serif;
  font-size: 18px;
}

.btn-bordered:focus,
.btn-bordered:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #333333 !important;
}

.btn-bordered.focus,
.btn-bordered:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.btn-bordered.disabled,
.btn-bordered:disabled {
  opacity: 0.65;
}

.btn-vacancy {
  color: #333333 !important;
  height: 48px;
  background-color: transparent;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  border-color: #333333;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: "jost", sans-serif;
  font-size: 18px;
}

.nav-logo {
  width: 120px;
}

/* learn more button start -----------------------------------------------------------*/
.btn-learn {
  color: #aaaaaa;
  font-size: 16px;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  /* background-color: #e5e5e5;
  border-color: #e5e5e5 */
}

.btn-learn:hover {
  color: #0cceff;
  /* background-color: #0069d9;
      border-color: #0062cc */
}

.btn-learn.focus,
.btn-learn:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.mobile-bg {
  display: none;
}

.hero {
  /* border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px; */
  /* background-color: #151515; */
  border-radius: 0 0 75px 75px;
  background-size: cover;
  margin-top: 104px;
  height: 500px; /* You must set a specified height */
  background-position: right; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.image-careers {
  background-image: url(/images/careers.png) !important;
}

.image-blog {
  background-image: url(/images/blog.png) !important;
}

.gap-md {
  gap: 48px !important;
}

.card-career {
  background-color: #ffffff;
  border-radius: 15px;
}

.card {
  min-width: 214px;
  /* max-width: 304.75px; */
  /* border-radius: 16px; */
}

@media (min-width: 990px) {
  .card {
    max-width: 214px;
    max-width: 304.75px;
  }
}

@media (max-width: 990px) {
  .card {
    max-width: 214px;
  }
}

@media (max-width: 575px) {
  .card {
    max-width: 566px;
  }

  .hero {
    border-radius: 0;
  }
}

.image-cover {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media (max-width: 767px) {
  .row-gallery {
    margin-top: 1.5rem;
  }

  .heading1 {
    font-size: 48px;
    font-family: "Jost", sans-serif;
    font-weight: 800;
    line-height: 48px;
    word-wrap: break-word;
  }

  .heading2 {
    font-size: 36px;
    font-family: "Jost", sans-serif;
    font-weight: 800;
    line-height: 40px;
    word-wrap: break-word;
  }

  .padding-bottom {
    padding: 0;
  }
}

.padding-bottom {
  padding: 2rem;
}

.icon-footer {
  width: 36px;
  height: 36px;
}

/***********search bar***********/

.search-bar {
  padding-left: 2.375rem;
  display: block;
  width: 100%;
  height: 48px;
  font-size: 1rem;
  line-height: 36px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 48px;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
/***********search bar***********/

.subscribe-bar {
  background-color: #0c0c0c;
}
