.bg-primary {
  background-color: #65b741 !important;
}

.bg-dark {
  background-color: #333333 !important;
}

.bg-color {
  background-color: #fbfbfb !important;
}

.bg-gray {
  background-color: #aaaaaa !important;
}

.bg-card-green {
  background-color: #f6f6e4 !important;
}

.bg-gray-light {
  background-color: #e1e1e1 !important;
}

.bg-black {
  background-color: #151515 !important;
}

.bg-ash {
  background-color: #aaaaaa !important;
}

.color-white {
  color: #ffffff;
}

.color-gray {
  color: #aaaaaa !important;
}

.color-dark {
  color: #333333 !important;
}

.color-black {
  color: #151515 !important;
}

.color-primary {
  color: #65b741 !important;
}

.center {
  text-align: center;
}
.heading1 {
  font-size: 60px;
  font-family: "Jost", sans-serif;
  font-weight: 800;
  line-height: 64px;
  word-wrap: break-word;
}

.heading2 {
  font-size: 48px;
  font-family: "Jost", sans-serif;
  font-weight: 800;
  line-height: 56px;
  word-wrap: break-word;
}

.heading3 {
  font-size: 36px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  line-height: 42px;
  word-wrap: break-word;
}

.heading4 {
  font-size: 28px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  line-height: 42px;
  word-wrap: break-word;
}

.text1 {
  font-size: 20px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
}

.text2 {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  line-height: 18px;
  word-wrap: break-word;
}

.text3 {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  font-weight: 200;
  line-height: 18px;
  word-wrap: break-word;
}
/* NavBar CSS-------------------------------------------------------------------------------------------------------------START */

.img-fluid-nav {
  max-width: 30%;
  height: auto;
  margin-left: 10%;
}

.nav-link:hover {
  color: #0c0c0c;
  /* font-weight: 600; */
  opacity: 1;
}

.nav-link.active {
  font-weight: 600;
  opacity: 1;
  border-bottom: 3px solid rgb(255, 255, 255);
}

.navbar {
  position: fixed !important;
  /* height: 110px; */
  width: 100%;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #0c0c0c;
}

.nav-link {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-wrap: nowrap;
  font-size: 20px;
  opacity: 0.75;
}

.navbar-toggler-icon {
  display: inline-block !important;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  /* background: no-repeat center center; */
  background-size: 100% 100%;
}

.navbar-front{
  background-color: #65b741; /* Initial background color */
    transition: background-color 0.5s ease; /* Smooth transition */
    position: fixed;
    width: 100%;
    top: 0;
}

@media (max-width: 990px) {
  .navbar-front {
    background-color: #65b741; /* Initial background color */
    transition: background-color 0.5s ease; /* Smooth transition */
    position: fixed;
    width: 100%;
    top: 0;
  }

  .navbar-front.scrolled {
    background-color: #151515; /* Color to change to after scroll */
  }
}

/* NavBar CSS-------------------------------------------------------------------------------------------------------------END */

.hero-image {
  background-image: url(/images/hero-back.png) !important;
}

.img-hero {
  max-width: 100%;
  height: 100%;
}

.multiply {
  mix-blend-mode: multiply;
}

/* Button lg start -------------------------------------------------------------------------------*/

.btn-main {
  /* color: #333333 !important; */
  height: 48px;
  background-color: #ffffff;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: "jost", sans-serif;
  font-size: 18px;
}

.btn-main:focus,
.btn-main:hover {
  text-decoration: none;
  background-color: #333333;
  color: #65b741 !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}

/* btn lg end -----------------------------------------------------------------*/

/* btn bodered start--------------------------------------------*/

.btn-bordered {
  color: #ffffff !important;
  height: 48px;
  background-color: transparent;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  border-color: #ffffff;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: "jost", sans-serif;
  font-size: 18px;
}

.btn-bordered:focus,
.btn-bordered:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #65b741 !important;
}

.btn-bordered.focus,
.btn-bordered:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.btn-bordered.disabled,
.btn-bordered:disabled {
  opacity: 0.65;
}

.btn-vacancy {
  color: #333333 !important;
  height: 48px;
  background-color: transparent;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  border-color: #333333;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: "jost", sans-serif;
  font-size: 18px;
}

.nav-logo {
  width: 120px;
}

/* learn more button start -----------------------------------------------------------*/
.btn-learn {
  color: #aaaaaa;
  font-size: 16px;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  /* background-color: #e5e5e5;
  border-color: #e5e5e5 */
}

.btn-learn:hover {
  color: #0cceff;
  /* background-color: #0069d9;
      border-color: #0062cc */
}

.btn-learn.focus,
.btn-learn:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.mobile-bg {
  display: none;
}

.hero {
  /* border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px; */
  /* background-color: #151515; */
  border-radius: 0 0 50px 50px;
  background-size: cover;
  margin-top: 72px;
  height: 500px; /* You must set a specified height */
  background-position: right; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.hero-primary {
  /* border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px; */
  /* background-color: #151515; */
  border-radius: 0 0 50px 50px;
  background-size: cover;
  margin-top: 72px;
  min-height: 500px; /* You must set a specified height */
  background-position: right; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.btn-service {
  background-color: #f0f0f0;

  width: 400px; /* Adjust the width as needed */
  height: 40px; /* Set the height if needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

  opacity: 0px;
}

.image-careers {
  background-image: url(/images/careers.png) !important;
}

.image-blog {
  background-image: url(/images/blog.png) !important;
}

.image-contactus {
  background-image: url(/images/contactus.png) !important;
}

.image-about {
  background-image: url(/images/about.png) !important;
}

.image-products {
  background-image: url(/images/products.png) !important;
}

.image-services {
  background-image: url(/images/services.png) !important;
}

.gap-md {
  gap: 48px !important;
}

.card-career {
  background-color: #ffffff;
  border-radius: 15px;
}

.card {
  min-width: 214px;
  /* max-width: 304.75px; */
  /* border-radius: 16px; */
}

.icon-card {
  height: 290px;
}

.img-infocard {
  justify-content: end;
}

.info-card-text {
  align-items: start;
}

.homecard {
  min-width: none !important;
  height: auto;
}

.card-user {
  height: 100%;
}

@media (min-width: 990px) {
  .card {
    max-width: 214px;
    max-width: 304.75px;
  }

  .homecard {
    max-width: none;
  }
}

@media (max-width: 990px) {
  .info-card-img {
    max-width: 440px;
  }

  .info-card-btn {
    align-items: center;
  }

  .info-card-text {
    text-align: center;
  }

  .card {
    max-width: 214px;
  }

  .homecard {
    max-width: none;
  }

  /* .icon-card {
    height: 246px;
  } */

  .hero-primary {
    min-height: 580px;
  }
}

@media (max-width: 575px) {
  .info-card-img {
    max-width: 238px;
  }

  .btn-service {
    width: 100%;
  }
  .card {
    max-width: 566px;
  }

  .homecard {
    max-width: none;
  }

  .icon-card {
    height: auto;
  }

  .hero {
    border-radius: 0 0 25px 25px;
  }
  .hero-primary {
    border-radius: 0 0 25px 25px;
  }

  .map-contact {
    height: 300px;
  }
}

.image-cover {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media (max-width: 767px) {
  .info-card-text {
    text-align: center;
  }

  .row-gallery {
    margin-top: 1.5rem;
  }

  .heading1 {
    font-size: 48px;
    font-family: "Jost", sans-serif;
    font-weight: 800;
    line-height: 48px;
    word-wrap: break-word;
  }

  .heading2 {
    font-size: 36px;
    font-family: "Jost", sans-serif;
    font-weight: 800;
    line-height: 40px;
    word-wrap: break-word;
  }

  .padding-bottom {
    padding: 0;
  }
}

.padding-bottom {
  padding: 2rem;
}

.icon-footer {
  width: 36px;
  height: 36px;
}

/***********search bar***********/

.search-bar {
  padding-left: 2.375rem;
  display: block;
  width: 100%;
  height: 48px;
  font-size: 1rem;
  line-height: 36px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 48px;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
/***********search bar***********/

.subscribe-bar {
  background-color: #0c0c0c;
}

/*****icon carousel******/

.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  /* width: 960px; */
  /* background-color: #fbfbfb; */
}

.slider::before,
.slider::after {
  /* background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  ); */
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 10s linear infinite;
  display: flex;
  width: calc(250px * 14);
  background-color: #fbfbfb;
}

.slider .slide {
  height: 100px;
  width: 250px;
  /* background-color: #070707; */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/*****icon carousel end******/

.card-solid {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  /* padding-top: 54.9px;
  padding-bottom: 54.9px;
  padding-left: 58.5px;
  padding-right: 57.6px; */
  padding: 20%;
  border-radius: 22.5px;
  overflow: hidden;
  border: 8px #65b741 solid;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.card-solid-img {
  flex: 1 1 0;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

/**********image bg*********/

.img-container {
  background-image: url(/images/bg-bodypart.jpg) !important;
  position: sticky;
}

.card-product {
  padding-top: 96px;
  padding-bottom: 96px;
}
